body {
    background-color: teal;
    font-family: 'California', sans-serif;
    color: aliceblue;
}

header {
    text-align: right;
    padding: 10px 20px;
    font-size: 0.9em;
}

.contact-info {
    position: absolute;
    top: 15;
    right: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    flex: 3;
    padding-bottom: 60px; 
}

img {
    max-width: 100%;
    height: auto;
}

form {
    background-color: #009688;
    padding: 40px;
    border-radius: 5px;
    margin-top: 60px;
    width: 50%;
    max-width: 500px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #005f5f;
    font-size: 1.1em;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #004d4d;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #003d3d;
}

.container {
    display: flex;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #00796b;
    color: aliceblue;
    margin-top: 60px;
}

aside h5 {
    color: #00bfbf;
    font-weight: bold;
    font-size: 3em;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 10px;
}

aside img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}


aside img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #004d4d;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    z-index: 1;
}

main,
aside {
    margin-bottom: 100px;
    padding-bottom: 60px;
}
body {
    min-height: 100vh;
}
footer h2 {
    font-weight: bold;
    color: #00bfbf;
}

footer a {
    color: #00bfbf;
    text-decoration: none;
}

footer a:hover {
    color: #009688;
}

footer img {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
}
